<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
  <h1>Crear nueva asignación Docente-Grupo</h1>
  <form th:action="@{/asigns/save}" method="post">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="teacher">Docente:</label>
          <select id="teacher" name="teacherId" class="form-control" required>
            <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="|${teacher.name} ${teacher.lastName}|"></option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="group">Grupo:</label>
          <select id="group" name="groupId" class="form-control" required>
            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="year">Año</label>
          <input type="text" class="form-control" id="year" name="year" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="semester">Ciclo</label>
          <input type="text" class="form-control" id="semester" name="semester" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Guardar</button> |
          <a href="/asigns">Regresar</a>
        </div>
      </div>
    </div>
  </form>
</div>