<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles del grupo</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2" >ID</dt>
            <dd class = "col-sm-10" th:text="${group.id}"></dd>
            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${group.name}"></dd>
            <dt class = "col-sm-2">Descripción</dt>
            <dd class = "col-sm-10" th:text="${group.description}"></dd>
        </dl>

        <a th:href="@{/groups/edit/{id} (id = ${group.id}) }" class="btn btn-outline-info">Editar</a> |
        <a th:href="@{/groups}">Regresar</a>
    </div>
</div>