<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles del docente</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2" >ID</dt>
            <dd class = "col-sm-10" th:text="${teacher.id}"></dd>
            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${teacher.name}"></dd>
            <dt class = "col-sm-2">Apellido</dt>
            <dd class = "col-sm-10" th:text="${teacher.lastName}"></dd>
            <dt class = "col-sm-2">Email</dt>
            <dd class = "col-sm-10" th:text="${teacher.email}"></dd>
            <dt class = "col-sm-2">Teléfono</dt>
            <dd class = "col-sm-10" th:text="${teacher.phone}"></dd>
        </dl>

        <a th:href="@{/teachers/edit/{id} (id = ${teacher.id}) }" class="btn btn-outline-info">Editar</a> |
        <a th:href="@{/teachers}">Regresar</a>
    </div>
</div>